.form-group{

    background-color: snow;
    
    width: 33vw;
    padding: 5px 20px 5px;
    border: var(--main-border);
    overflow: hidden;

}

.form-group .inputform{
    padding: 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.forminput{
    height: 2.5vw;
    width: 30vw;
    
}

.form-group legend{

    padding-left: 17px;
    font-size: 72px;
    font-weight: 700
}

.submitbutton{

    width:30vw;
    height: 50px;
    background-color: var(--green-color);

}

.remember_me{
    padding: 5px 5px 10px;
    display: flex;
    justify-content: start;
    

}

.remember_me a{
    text-decoration: none;
}