#FORM{

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.child_text_2em{
    font-size: 2em;
    font-weight: 700;
}

.bold_text_7em{
    font-size: 9em;
    font-weight: 900;
}


.text_color_lime_green{
    color: var(--green-color);
}

.text_color_dark_grey{
    color: #333333;
}