{% extends "index.html" %}

{% block content %}

    <form id="Form" method="post" action="">

        {{ form.hidden_tag() }}

        <div class="form-group">

            <legend>Create New Post</legend>

            <div class="inputform">
                {{ form.title(class="forminput", placeholder="Title") }}
            </div>
            
            <div class="inputform">
                {{ form.content(class="forminput", placeholder="Content", rows="10") }}
            </div>

            <div class="inputform">
                {{ form.submit(class="submitbutton")}}
            </div>
            
        </div>

    </form>

{% endblock content %}
