{% extends "index.html" %}

{% block content %}

    <form id="Form" method="post" action="">

        {{ form.hidden_tag() }}

        

        <div class="form-group">

            <legend>Register</legend>

            <div class="inputform">
                {{ form.username(class="forminput", placeholder="Username") }}
            </div>
            
            <div class="inputform">
                {{ form.email(class="forminput", placeholder="Email") }}
            </div>
            
            <div class="inputform">
                {{ form.password(class="forminput", placeholder="Password") }}
            </div>

            <div class="inputform">
                {{ form.confirm_password(class="forminput", placeholder="Confirm Password") }}
            </div>

            <div class="inputform">
                {{ form.submit(class="submitbutton")}}
            </div>

            <div class="remember_me">
                {{ form.remember_me(class="remember") }} {{ form.remember_me.label(class="remember_me") }}
            </div>
            
        </div>

    




    </form>


{% endblock content %}