{% extends "index.html" %}

{% block content %}

    <form id="Form" method="post" action="">

        {{ form.hidden_tag() }}

        

        <div class="form-group">

            <legend>Sign In</legend>
            
            <div class="inputform">
                {{ form.email(class="forminput", placeholder="Email") }}
            </div>
            
            <div class="inputform">
                {{ form.password(class="forminput", placeholder="Password") }}
            </div>

            <div class="inputform">
                {{ form.submit(class="submitbutton")}}
            </div>

            <div class="remember_me">
                <p>Don't have any account?<a href="{{url_for('main.SignUp')}}">Register</a></p>
            </div>

            
            
            
        </div>

    




    </form>


{% endblock content %}
